{{#ifHasCertifications resume.education}}
  {{#isArray .}}
    <div class="container certification-container">
    {{> title value="Certifications"}}
    {{#each .}}
    {{#isCertification .}}
    <section class="item">
      {{#if specialization}}<h4>{{specialization}}</h4>{{/if}}
      {{#if institution}}<h4>{{institution}}</h4>{{/if}}

      <h4>(
        {{#if startDate}}
        <span class="startDate">{{formatDate startDate}}</span>
        {{#if endDate}}
        <span class="endDate"> to {{formatDate endDate}}</span>
        {{else}}
        <span class="endDate"> to Present</span>
        {{/if}}
        {{else if releaseDate}}
        {{formatDate releaseDate}}
        {{/if}}
      )</h4>
    </section>
    {{/isCertification}}
    {{/each}}
    </div>
  {{else}}
    {{{certificationsMustache}}}
  {{/isArray}}
{{/ifHasCertifications}}