{{#resume.basics}}
<header class="resume-header clearfix {{~#if branding}} {{#isDev label }} resume-header-dev {{else}} resume-header-employee {{/isDev}} {{~/if~}}">
  <div class="background-header {{~#if branding}} {{#isDev label }} background-dev {{else}} background-employee {{/isDev}} {{~/if~}} ">
    <div class="profile-pic {{#centerHeader branding image}} d-none {{/centerHeader}} pull-left">
      {{#if image}}
        <img src="{{image}}" alt="profile-pic">
      {{/if}}
      {{#imagePreview}}
        {{{.}}}
      {{/imagePreview}}
    </div>
    <div class="profile-header {{#centerHeader branding image}} w-100 {{/centerHeader}} pull-right">
      <div class="my-auto">
        {{~#if branding}}
          <div class="ksquare-image"></div>
        {{~/if~}} 
        <h1>{{name}}</h1>
        <h2>{{label}}</h2>
        {{#if url}}
          <span>{{url}}</span>
        {{/if}}
      </div>
    </div>
  </div>
</header>
{{/resume.basics}}
